aiortc
av
typing_extensions
streamlit
streamlit_webrtc==0.47.6
firebase-admin
opencv_python
pillow
PyJWT
tensorflow
numpy
mediapipe
git+https://github.com/openai/whisper.git
streamlit-audiorecorder
textblob
wordcloud
plotly-express
asyncio