aiortc
av
typing_extensions
streamlit
firebase-admin
opencv_python
pillow
PyJWT
tensorflow
numpy
mediapipe
git+https://github.com/openai/whisper.git
streamlit-audiorecorder
textblob
wordcloud
plotly-express
asyncio
streamlit-camera-input-live